#App
fire==0.4.0
streamlit==1.12.2
MultiApp==1.0

#Essentials
ipython==8.5.0
numpy==1.23.4
pandas==1.4.3

#Visualizations
iso3166==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
plotly==5.10.0
plotly-express==0.4.1
seaborn==0.12.0
mplsoccer==1.1.9

# ML
ortools==9.4.1874
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
xgboost
